{% extends "base.html" %}

{% block title %}Marimo Status{% endblock %}

{% block contents %}
    <h1>
        Marimo Status
    </h1>

    <strong>Tank temperature: </strong> {{temp}}C <br />

    <strong>Status: </strong> 
    {% if running %}
        running
    {% else %}
        stopped
    {% endif %} <br />
    <strong>Reason: </strong> {{reason}} at {{status_change}} <br />

    {% if running %}
        <strong>Cooling phase: </strong> {{phase}}  <br />
    {% endif %}


    {% if error %}
        <strong>Crash log: </strong> {{error}}  <br />
    {% endif %}

    <br />
{% endblock %}