/* Largen size of everything on mobile */
@media (max-width: 1000px) {
  html {
    transform: scale(1.5);
    transform-origin: top left;
  }
}

/* Jinja documentation style lol */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 10px 0 10px;
  padding: 0;
  color: black;
}

body {
  font-family: 'Georgia', serif;
  font-size: 17px;
  color: #3e4349;
  line-height: 1.4;

  /* Leave space around content */
  margin: 30px 30px 30px 30px;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #a00;
  text-decoration-thickness: 1px;
  color: inherit; /* Disable the link changing color after click */ 
}

.nav {
  margin: 10px 0 10px;
}